<a class="" style="height:15px;" href="/profile/{{user.username}}">Back to Profile</a>
{{user.username}}, get writing!
<div class="">
  <h2>Write what you feel,</h2>
  <h3>feel what you write.</h3>
</div>

<div class="">
  <form class="" action="index.html" method="post">
    <div class="">
      <label for="">Song Title</label>
      <input type="text" name="song_title" value="">
    </div>
    <div class="">
      <label for="">For whom? Enter their username</label>
      <input type="text" name="for_whom" value="">
      <h6>(write "me" to indicate a personal song)</h6>
    </div>
  </form>
</div>

<div class="">
  song creation form here
</div>
