<a class="" style="height:15px;margin-left:75px;" href="/profile/{{user.username}}">Back to Profile</a>


<div class="container">
  <div class="row col-sm-12">
    <div class="newsong">
      <h2>The best one-liner you can think of</h2>
    </div>
    <div class="newsong">
      <h3>Keep syllable count between 4 and 8</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row col-sm-12">
    <div class="">
    </div>

    <div class="psongform">
      <br>
      <form class="oneliner cen" action="/create-popdrop/new-song" method="post">
        <div class="cen">
          <label for="">One Liner</label>
          <input type="text" name="song_title" value="">
        </div>
        <div class="cen">
          <h5>This Feature is Coming Soon!</h5>
        </div>
        <a class="cen" style="height:15px;margin-bottom:10px;" href="/profile/{{user.username}}">Back to Profile</a>
      </form>
    </div>

  </div>
</div>
