
    <header class="verytop">
      <nav class="topnav col-sm-12">
        <div class="bigh1 col-sm-9" align="left">
          <h1>MUSIC BOX!</h1>
        </div>
        <div class="list col-sm-3" align="right">
          <ul class="navul" >
            <a href="#"><li>About</li></a>
            <a href="/sign-up"><li>Sign Up</li></a>
            <a href="/log-in"><li>Sign In</li></a>
          </ul>
        </div>
      </nav>
    </header>
