
  <section class="backdrop">
      <div class="littlebox">
        <a class="cen" href="/">HOME</a>
        <h1 class="cen">Welcome Back</h1>
        <h3 class="cen warn">{{err}}</h3>
        <div class="theform">
          <form class="loginform" action="/log-in/profile" method="post">
            <div class="cen">
              <label for="">Username</label>
              <input type="text" name="username" value="">
            </div>
            <div class="cen">
              <label for="">Password</label>
              <input type="password" name="password" value="">
            </div>
            <div class="cen">
              <button type="submit">Log In</button>
            </div>
          </form>
        </div>

      </div>
  </section>
