
  <section class="backdrop">
    <div class="littlebox">
      <a class="cen" href="/">HOME</a>
      <h1 class="cen">{{title}}</h1>
      <h3 class="cen warn">{{err}}</h3>
        <form class="signupform" action="/sign-up/profile" method="post">
          <div class="cen">
            <label for="">Username</label>
            <input type="text" name="username" value="" required>
          </div>
          <div class="cen">
            <label for="">Password</label>
            <input type="password" name="password" value="" required>
          </div>
          <div class="cen">
            <label for="">First Name</label>
            <input type="text" name="first_name" value="" required>
          </div>
          <div class="cen">
            <label for="">Last Name</label>
            <input type="text" name="last_name" value="" required>
          </div>
          <div class="cen">
            <button type="submit">Log In</button>
          </div>

        </form>
    </div>
</section>
