html,body{
  min-height: 100%;
}
.bigh1{
  color:#FFF;
}
header{
  width: 100%;
}
.topnav{
  display: flex;
  flex-direction: row;
  background-color: #777;
}
.navul{
  display: flex;
  flex-direction: row;
}
div .list{
  display: flex;
  justify-content: center;
}
.list a{
  text-decoration: none;
  list-style: none;
  width:40%;
  color:#FFF;
}
img{
  width:100px;
  height:400px;
}
.cen{
  display: flex;
  justify-content: center;
}
form div{
  margin-bottom: 5px;
}
.signupform{
  margin-top: 10px;
}
.loginform{
  margin-top: 10px;
}
.backdrop{
  background-image: url('../images/guitars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
section{
  min-height: 100%;
  display: flex;
  justify-content: center;
}
.littlebox{
  border:2px solid #faebd7;
  display: block;
  justify-content: center;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #faebd7;
}

.warn{
  color:red;
}

.toplevel{
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  margin: 0;
  width: 100%;
  height:200px;
}
.toplevel div img{
  height:200px;
}

main{
  min-height: 100%;
  width:100%;
}
.biosongs{
  width:100%;
  min-height: 100%;
}
.biosongs .row{
  width:100%;
}
.bio p{
  color:#FFF;
}
.bio{
  height:600px;
  background-color: green;
  margin: 0;
  color:#FFF;
}
.songs{
  height:600px;
  background-color: red;
  color:#FFF;
}
.songtopbar h2{
  display: flex;
  flex-direction: row;
}
