<table>
  <tr>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.first.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.top}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.first.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.top}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.second.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.top}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.second.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.top}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.top}}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.first.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.mid}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.first.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.mid}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.second.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.mid}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.second.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.mid}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.mid}}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.first.base}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
      </ul>
    </td>
    <td>
      <ul style="display:flex;flex-direction:row;list-style:none;">
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
        <li style="width:100%;">{{$ctrl.chosenProg.second.base}}</li>
      </ul>
    </td>
  </tr>
</table>
