<div class="">
  <div>
    <!-- recognizes only the controller in {{}} -->
    Written in "{{$ctrl.prog.name}}".
    <br>
    <button style="width:50%;background-color:green;color:#FFF;" ng-click="$ctrl.playTri()">Play Song</button>
  </div>
</div>
